@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

//VARIABLES
$headfont: 'Ubuntu', serif;
$subfont: 'Poppins' , sans-serif;
$bodyfont: 'Hind', serif;
$radius: .9375rem;
$navyblue: #2F4157;
$teal: #577C8E;
$lightblue: #C7D9E5;
$bbyblue: #F5FCFF;
$beige: #F4EFEB;
$gray: #F5F5F5;
$black: #000000;
$white: #ffffff;

//MIXINS
@mixin flexbox ($align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin padding ($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right; 
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin margin ($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right; 
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin font-styling ($fontweight, $fontsize) {
    font-weight: $fontweight;
    font-size: $fontsize;
}

/* This will effect everything from 0 to 430px (mobile) */
/*GENERAL STYLES*/
* {
    box-sizing: border-box;
}
  
html {
    font-size: 100%;
    width: 100%;
}

body {
    margin: 0;
    font: .875rem $bodyfont;
    font-weight: 400;
    color: $navyblue;
}

.flex {
    display: flex;
}

/*Typography*/
h1 {
    font-family: $headfont;
    @include font-styling(500, 1.2rem)
}
h2, h3 {
    font-family: $subfont;
    @include font-styling(500, .75rem)
}

/*Buttons*/
a, a:visited {
    text-align: center;
    text-decoration: none;
    padding: .25rem .5rem;
    transition: all .5s;
} 
a:hover, a:visited:hover {
    opacity: .7;
}
%btn {
    width: 5rem;
    text-align: center;
    border-radius: $radius;
    @include font-styling(400, .7rem);
}
.btn-primary {
    @extend %btn;
    background-color: $navyblue;
    color: $beige;
}
.btn-secondary {
    @extend %btn;
    background: $teal;
    color: $beige;
}
.btn-tertiary {
    color: $navyblue;
}
.fa-chevron-right {
    font-size: .75rem;
}

.resources, .navigation {
    display: none;
}

/*HEADER*/
.navigation {
    @include flexbox(center, center);
    @include padding(2rem, 0, 2rem, 0);
    background-color: $beige;
}


/*FOOTER*/
.footer {
    @include flexbox(center, center);
    @include padding(2rem, 0, 2rem, 0);
    flex-direction: column;
    background-color: $beige;
    &-address {
        @include flexbox(center, center);
        gap: 3rem;
        margin-right: 4rem;
        p {
            font-weight: 500;
            color: $teal;
            text-align: left;
        }
    }
    &-links {
        @include flexbox(center, left);
        flex-wrap: wrap;
        width: 90%;
        gap: 1.5rem;
        .flex {
            flex-direction: column;
            li {
                list-style: none;
                @include font-styling(500, 1rem);
                font-family: $headfont;
                color: $teal;
                a {
                    @include font-styling(400, .75rem);
                    color: $navyblue;
                }
                a:hover {
                    color: $lightblue;
                }
            }
        }
    }
    &-socials {
        display: flex;
        @include flexbox(center, center);
        margin: 0;
        a {          
            color: $teal;                  
            font-size: 1.5rem;
            color: $navyblue;
        }
        a:hover {
            color: $lightblue;
        }
    }
    &-logo2 {
        display: none;
    }
}
#horizontalline {
    justify-content: center;
    width: 90%;
    color: $navyblue;
}
.copy {
    @include font-styling(400, .625rem);
    font-family: $bodyfont;
    color: $navyblue;
}

/*HOMEPAGE*/
.homepage-hero {
    @include flexbox(left, left);
    flex-direction: column;
    background-image: url(../images/hero_homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 15.75rem;
    &-text {
        @include flexbox(left, left);
        flex-direction: column;
        @include margin(7rem, 0, 0, 1rem);
        h1 {
            width: 65%;
            color: $teal;
            margin-top: 0;
        }
        p {
            display: none;
        }
        h3 {
            color: $navyblue;
            margin-bottom: 0;
        }
        .btn-primary {
            width: 8rem;
        }
    }
    
}
.discover {
    background-color: $beige;
    margin-top: 0;
    padding-top: 2rem;        
    padding-bottom: 2rem;
    @include flexbox(center, center);
    flex-direction: column;
    text-align: center;
    &-benefits {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &-image {
        width: 50%;
    }
    .flex {
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    h1, h2 {
        color: $navyblue;
    }
    h2 {
        font-weight: 600;
    }
    p {
        display: none;
    }
    .btn-primary {
        width: 50%;
    }
}
.products {
    background-color: $white;
    @include padding(3rem, 0, 3rem, 0);
    @include flexbox(center, center);
    flex-direction: column;
    margin-bottom: 3rem;
    &-water {
        display: flex;
        @include flexbox(center, center);
        gap:1rem;
        flex-direction: row;
        flex-wrap: wrap;
        .flex {
            width: 40%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 2rem;
        }
        &-size{
            height: 12rem;
        }
        h1 {
            margin-bottom: 0;
        }
        h2 {
            @include font-styling(400, .875rem);
            color: $teal;
            margin-top: 0;
        }
    }
}
.hiring {
    flex-direction: column;
    @include flexbox(center, center);
    margin-bottom: 4rem;
    img {
        height: 18rem;
    }
    &-text {
        flex-direction: column;
        @include flexbox(center, center);
        width: 90%;
        .hide {
            display: none;
        }
        h1 {
            margin-bottom: 0;
        }
        p {
            text-align: center;
        }
    }
}
.reviews {
    @include flexbox(center, center);
    @include padding(2rem, 0, 2rem, 0);
    flex-direction: column;
    background-color: $gray;
    &-container {
        @include flexbox(center, center);
    }
    &-comment {
        @include flexbox(left, left);
        @include padding(2rem, 2rem, 1rem, 2rem);
        border-radius: $radius;
        width: 85%;
        background-color: $bbyblue;
        flex-direction: column;
        h1 {
            font-size: 1rem;
            line-height: 0;
        }
        h2 {
            font-size: .875rem;
            font-weight: 400;
            color: $teal;
            line-height: 0;
        }
        &-commenter {
            flex-direction: column;
        }
    }
    img {
        height: 3.375rem;
        margin-right: 1rem;
    }
    &-hide, &-hidehide {
        display: none;
    }
    &-carousel {
        margin-top: 1rem;
        @include flexbox(center, center);
        background-color: $teal;
        border-radius: $radius;
        gap: .25rem;
        @include padding(0, .25rem, 0, .25rem);
        .fa-chevron-left, .fa-chevron-right {
            font-size: .75rem;
        }
        a{
            color: $beige;
        }
        a:hover {
            color: $black;
        }
    }
}
.faq {
    height: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    h1 {
        text-align: center;
    }
    .accordion{
        transform: translateZ(0);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      background: #fff;
    }
    
    .accordion > .accordion-toggle{
        position: absolute;
        opacity: 0;
        display: none;
    }
    .accordion > label{
        position: relative;
        display: block;
        height: 5rem;
        padding: 15px 20px;
        border-top: 1px solid $navyblue;
        background: $lightblue;
        cursor: pointer;
    }
    
    .accordion > label:after {
      content: '\f078';
      position: absolute;
      top: 1.5rem;
      right: 1.25rem;
      font-family: fontawesome;
      transform: rotate(90deg);
      transition: .3s transform;
    }
    
    .accordion > section{
        height: 0;
        transition: .3s all;
        overflow: hidden;
    }
    
    .accordion > .accordion-toggle:checked ~ label:after{
     transform: rotate(0deg);
    }
    
    .accordion > .accordion-toggle:checked ~ section{
      height: 14rem;
    }
    
    .accordion > section p {
      margin: 15px 0;
      padding: 0 20px;
      font-size: 12px;
      line-height: 1.5;
    }
    
}

/*BOOKING & SERVICES*/
.booking-hero, .benefits-hero, .aboutus-hero, .contactus-hero {
    @include flexbox(left, left);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.booking-hero {
    background-image: url(../images/hero_bookingpage.jpg);
    height: 13.75rem;
    h1{
        @include margin(8.5rem, 0, 0, 1rem);
        width: 65%;
    }
}
.services {
    .flex {
        flex-direction: column;
    }
    h1, h2, p {
        text-align: center;
    }
    img {
        height: 18rem;
        margin-left: 1rem;
    }
    background-color: $beige;
    animation: fake 1s infinite;
    @keyframes fake {
        from {
            opacity: 1;
        }
        to {
            opacity: 1;
        }
    }
    .worko-tabs {
        margin: 0 auto;
        width: 100%;
        .state{
          position: absolute;
          left: -625rem;
        }
        .flex-tabs{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
            .tab{
              flex-grow: 1;
              max-height: 40px;
            }
            .panel {
              background-color: $beige;
              padding: 20px;
              min-height: 300px;
              display: none;
              width: 100%;
              flex-basis: auto;
          }
        }
        .tab {
          display: inline-block;
          padding: 10px;
          vertical-align: top;
          background-color: $gray;
          cursor: hand;
          cursor: pointer;
          border-left: 10px solid $navyblue;
            &:hover{
              background-color: $lightblue;
            }
        }  
    }
    #tab-one:checked ~ .tabs #tab-one-label,
    #tab-two:checked ~ .tabs #tab-two-label,
    #tab-three:checked ~ .tabs #tab-three-label{
        background-color: $beige;
        cursor: default;
        border-left-color: $teal;
    }
    #tab-one:checked ~ .tabs #tab-one-panel,
    #tab-two:checked ~ .tabs #tab-two-panel,
    #tab-three:checked ~ .tabs #tab-three-panel{
        display: block;
    }
}
.locations {
    width: 100%;
    @include flexbox(center, center);
    flex-wrap: wrap;
    ul {
        li {
            list-style: none;
            @include font-styling(500, 1rem);
            font-family: $headfont;
            color: $teal;            
            a {
                @include font-styling(400, .75rem);
                color: $navyblue;
            }
            a:hover {
                color: $lightblue;
            }
        }
    }
}
.benefits {
    @include flexbox(center, center);
    @include padding(3rem, 0, 4rem, 0);
    background-color: $navyblue;
    text-align: center;
    gap: 1.5rem;
    &-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex {
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        h2 {
            margin-top: 1.5rem;
            color: $beige;
        }
    }
}

/*BENEFITS*/
.benefits-hero {
    background-image: url(../images/hero_benefitspage.jpg);
    height: 13.75rem;
    margin-bottom: 3rem;
    h1{
        @include margin(8.5rem, 0, 0, 1rem);
        width: 65%;
    }
}
.offers {
    @include flexbox(center, center);
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 3rem;
    &-img {
        width: 80%;
        border-radius: $radius;
    }
    &-text {
        width: 80%;
        @include flexbox(center, center);
        @include padding(1rem, 1rem, 2rem, 1rem);
        background-color: $beige;
        border-radius: $radius;
        text-align: center;
        flex-direction: column;
        h1, h2, p {
            color: $navyblue;
        }
        h1, h2 {
            margin-bottom: 0;
        }
    }
}
.type {
    @include flexbox(center, center);
    padding-top: 2rem;
    padding-bottom: 4rem;
    flex-direction: column;
    background-color: $gray;
    h1 {
        margin-bottom: 1.5rem;
    }
    .reason {
        @include flexbox(center, center);
        width: 75%;
        gap: 2rem;
        background-color: $gray;
        flex-wrap: wrap;
        h1 {
            font-family: $subfont;
            margin-bottom: 0;
        }
        &-one {
            @include flexbox(stretch, center);
            flex-direction: column;
            border-radius: $radius;
            img {
                height: 9.78rem;
            }
            &-text {
                @include flexbox(left, center);
                @include padding(1rem, 2rem, 1rem, 2rem);
                flex-direction: column;
                background-color: $teal;
                border-radius: 0, 0, .9375rem, .9375rem;
                color: $beige;
                width: 100%;
            }
        }
    }
}


/*ABOUT US*/
.aboutus-hero {
    background-image: url(../images/hero_aboutus.png);
    height: 13.75rem;
    margin-bottom: 2rem;
    h1{
        @include margin(8.5rem, 0, 0, 1rem);
        width: 60%;
    }
}
.whoweare {
    @include flexbox(center, center);
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 3rem;
    &-img {
        width: 80%;
        border-radius: $radius;
    }
    .flex {
        width: 80%;
        text-align: center;
        flex-direction: column;
        h1, h2 {
            color: $navyblue;
        }
        h2 {
            font-weight: 400;
            line-height: 0;
        }
    }
    &-text {
        @include padding(1rem, 1rem, 2rem, 1rem);
        background-color: $beige;
        border-radius: $radius;
        h1 {
            margin-bottom: 0;
        }
    }
    &-info {
        @include flexbox(center, center);
        font-family: $bodyfont;
        @include font-styling(600, .875rem);
        color: $teal;
        flex-wrap: wrap;
        margin-left: 1rem;
        gap: .5rem;
        &-time {
            height: 1.5625rem;
        }
        &-phone {
            height: 1.5625rem;
        }
        &-mail {
            height: 1.3125rem;
        }
        .flex {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: .75rem;
            a, p {
                font-family: $bodyfont;
                @include font-styling(400, 1rem);
                color: $teal;
            }
            a:hover {
                color: $navyblue;
            }
        }
    }
}
.whychoose {
    @include flexbox(center, center);
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
    color: $navyblue;
    h1 {
        margin-bottom: 0;
    }
    .flex {
        gap: 1rem;
        img {
            width: 15%;
        }
        h1 {
            margin-bottom: 0;
            font-family: $subfont;
        }
    }
    &-grid {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    &-ben {
        width: 80%;
        background-color: $lightblue;
        border-radius: $radius;
        padding: 2rem;
    }
}

/*CONTACT US*/
.contactus-hero {
    margin-bottom: 3rem;
    background-image: url(../images/hero_contact.png);
    height: 13.75rem;
    h1{
        width: 60%;
        @include padding(9rem, 0, 0, 2rem);
    }
}
.contact {
    @include flexbox(center, center);
    flex-direction: column;
    &-resources {
        @include flexbox(center, center);
        flex-direction: column;
        width: 80%;
        gap: 1rem;
        &-info {
            @include flexbox(center, left);
            background-color: $teal;
            color: $beige;
            width: 90%;
            border-radius: $radius;
            gap: .5rem;
            @include padding(1rem, 1rem, 1rem, 1rem);
            text-align: left;
            a {
                color: $beige;
                text-align: left;
            }
            a:hover {
                color: $navyblue;
            }
            #infomap {
                width: 17rem;
                margin-left: .2rem;
            }
        }
        &-map {
            @include flexbox(center, center);
            width: 1rem;
        }
    }
    &-form {
        @include flexbox(center, center);
        flex-direction: column;
        margin-top: 3rem;
        margin-bottom: 3rem;
        &-subtxt, h1 {
            color: $navyblue;
        }
        h1 {
            line-height: 0;
        }
        &-subtxt {
            line-height: 0;
        }
    }
} 
.contact-form {
    #form {
        flex-direction: column;
        @include flexbox(center, center);
        padding: 2rem;
        background-color:$beige;
        border-radius: $radius;
        color: $teal;
        .flex {
            gap: 2rem;
        }
    }
    .form1 {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    input {
        border-radius: .1875rem;
        height: 2rem;
        width: 18rem;
        border: 1px solid #163E44;
    }
    #name {
        width: 8rem;
    }
    #additionalnotes {
        height: 6rem;
    }
    form {
        margin: 0 auto;
    }
}
.additional {
    @include flexbox(center, center);
    flex-direction: column;
    background-color: $navyblue;
    padding-top: 2rem;
    padding-bottom: 3rem;
    h1 {
        color: $beige;
    }
    &-resources {
        @include flexbox(center, center);
        flex-direction: column;
        gap: 1rem;
        &-info {
            @include flexbox(center, left);
            background-color: $beige;
            border-radius: $radius;
            width: 90%;
            gap: .5rem;
            @include padding(1rem, 1rem, 1rem, 1rem);
            text-align: left;
            img {
                width: 15%;
            }
            a {
                color: $teal;
            }
            a:hover {
                color: $lightblue;
            }
        }
    }
}



@media screen and (min-width: 834px) /* for tablet */ {
    /*GENERAL STYLES*/
    body {
        font-size: 1rem;
    }

    /*Typography*/
    h1 {
        font-size: 2rem;
    }
    h2, h3 {
        @include font-styling(500, 1.2rem);
    }

    /*Buttons*/
    %btn {
        width: 8rem;
        @include font-styling(400, 1rem);
    }

    /*HEADER*/
    .resources {
        display: block;
        @include flexbox(center, center);
        @include padding(.5rem, 0, .5rem, 0);
        background-color: $navyblue;
        a {
            color: $beige;
            margin-right: 1rem;
        }
    }
    .navigation {
        align-items: baseline;
        @include padding(1rem, 0, 1rem, 1rem);
    }
    .navigation-bar {
        flex-direction: row;
    }
    .nav-logo {
        height: 3.5rem;
    }
    .navigation-icons {
        display: none;
    }
    .nav {
        justify-content: center;
        margin: 0 auto;
        &-bar {
            margin: 0 auto;
        }
        &-links {
            gap: 1rem;
        }
        &-links-page, &-dropdown li {
            list-style: none;
        }
        &-links-page {
            font-size: 1rem;
            color: $navyblue;
        }
        &-dropdown {
            position: absolute;
            text-align: left;
            width: 13rem;
            padding: 0;
            margin: 0px -20px; 
            line-height: 50px;
            background: $beige;
            border-radius: $radius;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            display: none;
            li a {
                color: $navyblue;
                width: 13rem;
                font-weight: 400;
                padding: 1rem;
            }
            li a:hover {
                color: $beige;
            }
            li:hover {
                margin: 0;
                background-color: $navyblue;
                border-radius: $radius;
                color: $beige;
                width: 13rem;
                text-align: left;
                padding-left: .5rem;
            }
        }
        &-links-page a {
            color: $navyblue;
        }
        &-page {
            display: flex;
        }
        &-downarrowicon {
            position: relative;
            line-height: 20px;
            right: -5px;
            transform: rotate(0deg);
            transition: 0.3s ease-in-out all;
        }
        &-links-page:hover &-downarrowicon {
            transform: rotate(180deg);
            line-height: 20px;
        }
        &-links-page:hover &-dropdown {
            display: block;
        }
        &-links-page a:hover {
            color: $teal;
            position: relative;
        }
    }

    /* Dropdown */
    li.dropdown{
        position: relative;
    }
    ul.dropdown-menu{
        position: absolute;
        min-width: 120px;
    }
    ul.dropdown-menu li{
        display: block !important;
        white-space: nowrap;
    }
    /* Sub Dropdown */
    ul.dropdown-menu ul.dropdown-menu{
        left: 100%;
        top: 0;
        background-color: $beige !important;
        border-radius: $radius;
    }
    /* Display none by Default */
    ul.dropdown-menu{
        display: none;
    }

    /*FOOTER*/
    .footer {
        &-links {
            @include flexbox(center, center);
            margin-bottom: 2rem;
        }
    }

    /*HOMEPAGE*/
    .homepage-hero {
        height: 30.6875rem;
        margin-bottom: 0;
        &-text {
            @include margin(12rem, 0, 0, 2rem);
            h1 {
                width: 50%;
                margin-bottom: .5rem;
            }
            p {
                display: block;
                margin-top: 0;
                width: 75%;
            }
            .btn-primary {
                width: 12rem;
            }
        }
    }
    .discover {
        background-color: $beige;
        margin-top: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        &-benefits {
            gap: 0;
        }
        &-image {
            width: 20%;
        }
        .flex {
            width: 48%;
            h2 {
                font-size: 1rem;
            }
            .btn-primary {
                width: 10rem;
            }
        }
    }
    .products {
        &-water {
            h1 {
                font-size: 1.2rem;
            }
        }
    }
    .hiring {
        width: 90%;
        margin: 0 auto;
        flex-direction: row;
        gap: 1.5rem;
        margin-bottom: 4rem;
        img {
            width: 45%;
        }
        .hide {
            display: block;
        }
        img {
            height: auto;
            margin-top: 1rem;
        }
        &-text {
            h1 {
                width: 100%;
            }
            h1, p {
                text-align: left;
            }
            .btn-secondary {
                margin-right: 17rem;
            }
        }
    }
    .reviews {
        &-hide {
            display: block;
        }
        &-container {
            width: 90%;
            gap: 1rem;
        }
        &-comment {
            width: 48%;
            height: 17rem;
        }
    }

    /*BOOKING & SERVICES*/
    .booking-hero, .benefits-hero, .aboutus-hero, .contactus-hero {
        height: 28.75rem;
        @include padding(12rem, 0, 0, 2rem);
    }
    .services {
        padding-bottom: 4rem;
        img {
            height: 15rem;
            margin-left: 0;
        }
        .flex {
            width: 95%;
            margin: 0 auto;
            flex-direction: row;
            @include flexbox(center, center);
            gap: 2rem;
            &-text {
                flex-direction: column;
            }
        }
        h1, h2, p {
            text-align: left;
        }
        h2 {
            width: 85%;
        }
    }
    .locations {
        ul {
            li {
                @include font-styling(500, 1.5rem);
                a {
                    @include font-styling(400, .875rem);
                }
            }
        }
    }
    .benefits {
        &-list {
            .flex {
                h2 {
                    font-size: 1rem;
                }
                width: 50%;
                .discover-image {
                    width: 40%;
                }
            }
        }
    }

    /*BENEFITS*/
    .offers {
        flex-direction: row-reverse;
        margin: 0 auto;
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: 95%;
        &-img {
            width: 40%;
        }
        &-text {
            width: 60%;
            @include padding(0, 1rem, 1.2rem, 1rem);
        }
    }
    .type {
        .reason {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
            width: 100%;
            &-one {
                width: 40%;
                h1 {
                    font-size: 1.2rem;
                }
                &-text {
                    align-items: stretch;
                }
            }
        }
    }

    /*ABOUT US*/
    .aboutus-hero, .contactus-hero {
        h1 {
            width: 50%;
        }
    }
    .whoweare {
        width: 90%;
        margin: 0 auto;
        flex-direction: row;
        margin-bottom: 3rem;
        margin-top: 4rem;
        &-img {
            height: 23rem;
        }
        &-text {
            @include padding(0, 1rem, 1.2rem, 1rem);
        }
        &-img, &-text {
            width: 48%;
        }
        &-info {
            margin-left: 2rem;
        }
    }

    /*CONTACT US*/
    .contact {
        margin: 0 auto;
        flex-direction: row;
        width: 90%;
        &-resources {
            width: 50%;
            &-info {
                #infomap {
                    width: 15rem;
                    margin: auto;
                }
            }
        }
        &-form {
            width: 60%;
        }
    }
    .additional {
        &-resources {
            flex-direction: row;
            width: 90%;
            &-info {
                width: 100%;
                img {
                    width: auto;
                }
            }
        }
    }
}


@media screen and (min-width: 1920px) /* for desktop */ {
    /*GENERAL STYLES*/
    body {
        font-size: 1.5rem;
    }

    /*Typography*/
    h1 {
        font-size: 3rem;
    }
    h2, h3 {
        @include font-styling(500, 1.5rem);
    }

    /*Buttons*/
    %btn {
        @include font-styling(400, 1.5rem);
        width: 12rem;
    }

    /*HEADER*/
    .resources {
        justify-content: flex-end;
        @include padding(.5rem, 1.2rem, .5rem, 0);
    }
    .nav {
        padding-top: 1.5rem;
        &-links-page {
            font-size: 1.5rem;
        }
    }
    .navigation {
        @include padding(2rem, 0, 1rem, 1rem);
    }
    .nav-logo {
        height: 5rem;
        margin-right: 28rem;
        margin-left: 5rem;
    }
    /*FOOTER*/
    .footer {
        &-address {
            font-size: 2rem;
            img {
                width: 7rem;
            }
        }
        &-links {
            .flex {
                li {
                    font-size: 2.2rem;
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        &-socials {
            a {          
                font-size: 2.2rem;
            }
        }
    }
    .copy {
        font-size: 1rem;
    }
    

    /*HOMEPAGE*/
    .homepage-hero {
        height: 60.6875rem;
        &-text {
            @include margin(28rem, 0, 0, 3rem);
        }
        h1 {
            width: 50%;
        }
        .btn-primary {
            width: 15rem;
        }
    }
    .discover {
        &-benefits {
            flex-wrap: nowrap;
            align-items: center;
            gap: 10rem;
        }
        &-image {
            width: 100%;
        }
        .flex {
            .btn-primary {
                width: 10rem;
            }
            h2 {
                font-size: 1.5rem;
            }
        }
    }
    .products {
        .water {
            .flex {
                width: 25%;
            }
            flex-wrap: wrap;
            gap: 0;
        }
        &-water {
            flex-wrap: nowrap;
            gap: 3rem;
            h1 {
                font-size: 1.5rem;
            }
            &-size {
                height: 17rem;
            }
        }
    }
    .hiring {
        img, &-text {
            width: 50%;
        }
        gap: 3rem;
        .btn-secondary {
            margin-right: 40rem;
        }
    }
    .reviews {
        padding-bottom: 4rem;
        h1 {
            font-size: 3rem;
        }
        &-hidehide {
            display: block;
        }
        &-container {
            width: 90%;
            gap: 1rem;
        }
        &-comment {
            width: 30%;
            height: 25rem;
            &-commenter {
                h1 {
                    font-size: 2rem;
                }
                h2 {
                    font-size: 1.5rem;
                }
            }
        }
        img {
            height: 5.375rem;
            margin-right: 1rem;
        }
        .fa-chevron-left, .fa-chevron-right {
            font-size: 1.2rem;
        }
    }

    /*BOOKING & SERVICES*/
    .booking-hero, .benefits-hero, .aboutus-hero, .contactus-hero {
        height: 60.75rem;
        @include padding(35rem, 0, 0, 2rem);
        h1 {
            font-size: 5rem;
        }
    }
    .services {
        label {
            padding-bottom: 2rem;
        }
        .active {
            h1, h2 {
                margin-left: 3rem;
            }
            h1 {
                margin-bottom: 0;
            }
        }
        img {
            height: auto;
            width: 50%;
            padding-top: 3rem;
        }
        .flex {
            gap: 4rem;
            &-text {
                width: 50%;
            }
        }
    }
    .locations {
        ul {
            width: 25%;
            li {
                font-size: 2rem;            
                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .benefits {
        padding-top: 4rem;
        &-list {
            align-items: center;
            width: 100%;
            flex-wrap: nowrap;
            gap: 0;
        }
        .flex {
            h2 {
                font-size: 1.5rem;
            }
        }
    }

    /*BENEFITS*/
    .offers {
        &-img {
            width: auto;
            height: 38.5rem;
        }
        &-text {
            width: 50%;
        }
    }
    .type {
        .reason {
            &-one {
                width: 40%;
                img {
                    height: 18rem;
                }
            }
        }
    }

    /*ABOUT US*/
    .whoweare {
        width: 90%;
        margin: 0 auto;
        flex-direction: row;
        margin-bottom: 4rem;
        margin-top: 4rem;
        &-img {
            height: auto;
        }
        &-text {
            @include padding(8rem, 1rem, 1.2rem, 1rem);
            height: 42rem;
        }
        &-img, &-text {
            width: 48%;
        }
        &-info {
            font-size: 1.5rem;
            margin-left: 13rem;
            .flex {
                a, p {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .whychoose {
        .flex {
            gap: 1rem;
            img {
                width: 15%;
            }
            h1 {
                margin-bottom: 0;
                font-family: $subfont;
                font-size: 2rem;
            }
        }
        &-grid {
            flex-direction: row;
            flex-wrap: wrap;
        }
        &-ben {
            width: 30%;
            height: 30rem;
        }
    }


    /*CONTACT US*/
    .contact {
        &-resources {
            width: 40%;
            &-info {
                #infomap {
                    width: 30rem;
                }
            }
        }
        &-form {
            width: 80%;
        }
    }
    .contact-form {
        input {
            height: 3rem;
            width: 50rem;
        }
        #name {
            width: 24rem;
        }
        #additionalnotes {
            height: 15rem;
        }
    }
    .additional {
        &-resources {
            width: 60%;
        }
    }
}
