@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* This will effect everything from 0 to 430px (mobile) */
/*GENERAL STYLES*/
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  width: 100%;
}

body {
  margin: 0;
  font: 0.875rem "Hind", serif;
  font-weight: 400;
  color: #2F4157;
}

.flex {
  display: flex;
}

/*Typography*/
h1 {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-size: 1.2rem;
}

h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
}

/*Buttons*/
a, a:visited {
  text-align: center;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  transition: all 0.5s;
}

a:hover, a:visited:hover {
  opacity: 0.7;
}

.btn-secondary, .btn-primary {
  width: 5rem;
  text-align: center;
  border-radius: 0.9375rem;
  font-weight: 400;
  font-size: 0.7rem;
}

.btn-primary {
  background-color: #2F4157;
  color: #F4EFEB;
}

.btn-secondary {
  background: #577C8E;
  color: #F4EFEB;
}

.btn-tertiary {
  color: #2F4157;
}

.fa-chevron-right {
  font-size: 0.75rem;
}

.resources, .navigation {
  display: none;
}

/*HEADER*/
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 2rem;
  padding-left: 0;
  background-color: #F4EFEB;
}

/*FOOTER*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 2rem;
  padding-left: 0;
  flex-direction: column;
  background-color: #F4EFEB;
}
.footer-address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-right: 4rem;
}
.footer-address p {
  font-weight: 500;
  color: #577C8E;
  text-align: left;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  width: 90%;
  gap: 1.5rem;
}
.footer-links .flex {
  flex-direction: column;
}
.footer-links .flex li {
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Ubuntu", serif;
  color: #577C8E;
}
.footer-links .flex li a {
  font-weight: 400;
  font-size: 0.75rem;
  color: #2F4157;
}
.footer-links .flex li a:hover {
  color: #C7D9E5;
}
.footer-socials {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.footer-socials a {
  color: #577C8E;
  font-size: 1.5rem;
  color: #2F4157;
}
.footer-socials a:hover {
  color: #C7D9E5;
}
.footer-logo2 {
  display: none;
}

#horizontalline {
  justify-content: center;
  width: 90%;
  color: #2F4157;
}

.copy {
  font-weight: 400;
  font-size: 0.625rem;
  font-family: "Hind", serif;
  color: #2F4157;
}

/*HOMEPAGE*/
.homepage-hero {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  background-image: url(../images/hero_homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 15.75rem;
}
.homepage-hero-text {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  margin-top: 7rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1rem;
}
.homepage-hero-text h1 {
  width: 65%;
  color: #577C8E;
  margin-top: 0;
}
.homepage-hero-text p {
  display: none;
}
.homepage-hero-text h3 {
  color: #2F4157;
  margin-bottom: 0;
}
.homepage-hero-text .btn-primary {
  width: 8rem;
}

.discover {
  background-color: #F4EFEB;
  margin-top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.discover-benefits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.discover-image {
  width: 50%;
}
.discover .flex {
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.discover h1, .discover h2 {
  color: #2F4157;
}
.discover h2 {
  font-weight: 600;
}
.discover p {
  display: none;
}
.discover .btn-primary {
  width: 50%;
}

.products {
  background-color: #ffffff;
  padding-top: 3rem;
  padding-right: 0;
  padding-bottom: 3rem;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
}
.products-water {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.products-water .flex {
  width: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.products-water-size {
  height: 12rem;
}
.products-water h1 {
  margin-bottom: 0;
}
.products-water h2 {
  font-weight: 400;
  font-size: 0.875rem;
  color: #577C8E;
  margin-top: 0;
}

.hiring {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.hiring img {
  height: 18rem;
}
.hiring-text {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.hiring-text .hide {
  display: none;
}
.hiring-text h1 {
  margin-bottom: 0;
}
.hiring-text p {
  text-align: center;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 2rem;
  padding-left: 0;
  flex-direction: column;
  background-color: #F5F5F5;
}
.reviews-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews-comment {
  display: flex;
  align-items: left;
  justify-content: left;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  border-radius: 0.9375rem;
  width: 85%;
  background-color: #F5FCFF;
  flex-direction: column;
}
.reviews-comment h1 {
  font-size: 1rem;
  line-height: 0;
}
.reviews-comment h2 {
  font-size: 0.875rem;
  font-weight: 400;
  color: #577C8E;
  line-height: 0;
}
.reviews-comment-commenter {
  flex-direction: column;
}
.reviews img {
  height: 3.375rem;
  margin-right: 1rem;
}
.reviews-hide, .reviews-hidehide {
  display: none;
}
.reviews-carousel {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #577C8E;
  border-radius: 0.9375rem;
  gap: 0.25rem;
  padding-top: 0;
  padding-right: 0.25rem;
  padding-bottom: 0;
  padding-left: 0.25rem;
}
.reviews-carousel .fa-chevron-left, .reviews-carousel .fa-chevron-right {
  font-size: 0.75rem;
}
.reviews-carousel a {
  color: #F4EFEB;
}
.reviews-carousel a:hover {
  color: #000000;
}

.faq {
  height: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
}
.faq h1 {
  text-align: center;
}
.faq .accordion {
  transform: translateZ(0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.faq .accordion > .accordion-toggle {
  position: absolute;
  opacity: 0;
  display: none;
}
.faq .accordion > label {
  position: relative;
  display: block;
  height: 5rem;
  padding: 15px 20px;
  border-top: 1px solid #2F4157;
  background: #C7D9E5;
  cursor: pointer;
}
.faq .accordion > label:after {
  content: "\f078";
  position: absolute;
  top: 1.5rem;
  right: 1.25rem;
  font-family: fontawesome;
  transform: rotate(90deg);
  transition: 0.3s transform;
}
.faq .accordion > section {
  height: 0;
  transition: 0.3s all;
  overflow: hidden;
}
.faq .accordion > .accordion-toggle:checked ~ label:after {
  transform: rotate(0deg);
}
.faq .accordion > .accordion-toggle:checked ~ section {
  height: 14rem;
}
.faq .accordion > section p {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 12px;
  line-height: 1.5;
}

/*BOOKING & SERVICES*/
.booking-hero, .benefits-hero, .aboutus-hero, .contactus-hero {
  display: flex;
  align-items: left;
  justify-content: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.booking-hero {
  background-image: url(../images/hero_bookingpage.jpg);
  height: 13.75rem;
}
.booking-hero h1 {
  margin-top: 8.5rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1rem;
  width: 65%;
}

.services {
  background-color: #F4EFEB;
  animation: fake 1s infinite;
}
.services .flex {
  flex-direction: column;
}
.services h1, .services h2, .services p {
  text-align: center;
}
.services img {
  height: 18rem;
  margin-left: 1rem;
}
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.services .worko-tabs {
  margin: 0 auto;
  width: 100%;
}
.services .worko-tabs .state {
  position: absolute;
  left: -625rem;
}
.services .worko-tabs .flex-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .worko-tabs .flex-tabs .tab {
  flex-grow: 1;
  max-height: 40px;
}
.services .worko-tabs .flex-tabs .panel {
  background-color: #F4EFEB;
  padding: 20px;
  min-height: 300px;
  display: none;
  width: 100%;
  flex-basis: auto;
}
.services .worko-tabs .tab {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  background-color: #F5F5F5;
  cursor: hand;
  cursor: pointer;
  border-left: 10px solid #2F4157;
}
.services .worko-tabs .tab:hover {
  background-color: #C7D9E5;
}
.services #tab-one:checked ~ .tabs #tab-one-label,
.services #tab-two:checked ~ .tabs #tab-two-label,
.services #tab-three:checked ~ .tabs #tab-three-label {
  background-color: #F4EFEB;
  cursor: default;
  border-left-color: #577C8E;
}
.services #tab-one:checked ~ .tabs #tab-one-panel,
.services #tab-two:checked ~ .tabs #tab-two-panel,
.services #tab-three:checked ~ .tabs #tab-three-panel {
  display: block;
}

.locations {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.locations ul li {
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Ubuntu", serif;
  color: #577C8E;
}
.locations ul li a {
  font-weight: 400;
  font-size: 0.75rem;
  color: #2F4157;
}
.locations ul li a:hover {
  color: #C7D9E5;
}

.benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-right: 0;
  padding-bottom: 4rem;
  padding-left: 0;
  background-color: #2F4157;
  text-align: center;
  gap: 1.5rem;
}
.benefits-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.benefits .flex {
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.benefits .flex h2 {
  margin-top: 1.5rem;
  color: #F4EFEB;
}

/*BENEFITS*/
.benefits-hero {
  background-image: url(../images/hero_benefitspage.jpg);
  height: 13.75rem;
  margin-bottom: 3rem;
}
.benefits-hero h1 {
  margin-top: 8.5rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1rem;
  width: 65%;
}

.offers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 3rem;
}
.offers-img {
  width: 80%;
  border-radius: 0.9375rem;
}
.offers-text {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  background-color: #F4EFEB;
  border-radius: 0.9375rem;
  text-align: center;
  flex-direction: column;
}
.offers-text h1, .offers-text h2, .offers-text p {
  color: #2F4157;
}
.offers-text h1, .offers-text h2 {
  margin-bottom: 0;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  flex-direction: column;
  background-color: #F5F5F5;
}
.type h1 {
  margin-bottom: 1.5rem;
}
.type .reason {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  gap: 2rem;
  background-color: #F5F5F5;
  flex-wrap: wrap;
}
.type .reason h1 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}
.type .reason-one {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.9375rem;
}
.type .reason-one img {
  height: 9.78rem;
}
.type .reason-one-text {
  display: flex;
  align-items: left;
  justify-content: center;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  flex-direction: column;
  background-color: #577C8E;
  border-radius: 0, 0, 0.9375rem, 0.9375rem;
  color: #F4EFEB;
  width: 100%;
}

/*ABOUT US*/
.aboutus-hero {
  background-image: url(../images/hero_aboutus.png);
  height: 13.75rem;
  margin-bottom: 2rem;
}
.aboutus-hero h1 {
  margin-top: 8.5rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1rem;
  width: 60%;
}

.whoweare {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 3rem;
}
.whoweare-img {
  width: 80%;
  border-radius: 0.9375rem;
}
.whoweare .flex {
  width: 80%;
  text-align: center;
  flex-direction: column;
}
.whoweare .flex h1, .whoweare .flex h2 {
  color: #2F4157;
}
.whoweare .flex h2 {
  font-weight: 400;
  line-height: 0;
}
.whoweare-text {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  background-color: #F4EFEB;
  border-radius: 0.9375rem;
}
.whoweare-text h1 {
  margin-bottom: 0;
}
.whoweare-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Hind", serif;
  font-weight: 600;
  font-size: 0.875rem;
  color: #577C8E;
  flex-wrap: wrap;
  margin-left: 1rem;
  gap: 0.5rem;
}
.whoweare-info-time {
  height: 1.5625rem;
}
.whoweare-info-phone {
  height: 1.5625rem;
}
.whoweare-info-mail {
  height: 1.3125rem;
}
.whoweare-info .flex {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
}
.whoweare-info .flex a, .whoweare-info .flex p {
  font-family: "Hind", serif;
  font-weight: 400;
  font-size: 1rem;
  color: #577C8E;
}
.whoweare-info .flex a:hover {
  color: #2F4157;
}

.whychoose {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
  color: #2F4157;
}
.whychoose h1 {
  margin-bottom: 0;
}
.whychoose .flex {
  gap: 1rem;
}
.whychoose .flex img {
  width: 15%;
}
.whychoose .flex h1 {
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}
.whychoose-grid {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.whychoose-ben {
  width: 80%;
  background-color: #C7D9E5;
  border-radius: 0.9375rem;
  padding: 2rem;
}

/*CONTACT US*/
.contactus-hero {
  margin-bottom: 3rem;
  background-image: url(../images/hero_contact.png);
  height: 13.75rem;
}
.contactus-hero h1 {
  width: 60%;
  padding-top: 9rem;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 2rem;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-resources {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
}
.contact-resources-info {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #577C8E;
  color: #F4EFEB;
  width: 90%;
  border-radius: 0.9375rem;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  text-align: left;
}
.contact-resources-info a {
  color: #F4EFEB;
  text-align: left;
}
.contact-resources-info a:hover {
  color: #2F4157;
}
.contact-resources-info #infomap {
  width: 17rem;
  margin-left: 0.2rem;
}
.contact-resources-map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
}
.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.contact-form-subtxt, .contact-form h1 {
  color: #2F4157;
}
.contact-form h1 {
  line-height: 0;
}
.contact-form-subtxt {
  line-height: 0;
}

.contact-form #form {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #F4EFEB;
  border-radius: 0.9375rem;
  color: #577C8E;
}
.contact-form #form .flex {
  gap: 2rem;
}
.contact-form .form1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact-form input {
  border-radius: 0.1875rem;
  height: 2rem;
  width: 18rem;
  border: 1px solid #163E44;
}
.contact-form #name {
  width: 8rem;
}
.contact-form #additionalnotes {
  height: 6rem;
}
.contact-form form {
  margin: 0 auto;
}

.additional {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2F4157;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.additional h1 {
  color: #F4EFEB;
}
.additional-resources {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.additional-resources-info {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #F4EFEB;
  border-radius: 0.9375rem;
  width: 90%;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  text-align: left;
}
.additional-resources-info img {
  width: 15%;
}
.additional-resources-info a {
  color: #577C8E;
}
.additional-resources-info a:hover {
  color: #C7D9E5;
}

@media screen and (min-width: 834px) {
  /*GENERAL STYLES*/
  body {
    font-size: 1rem;
  }
  /*Typography*/
  h1 {
    font-size: 2rem;
  }
  h2, h3 {
    font-weight: 500;
    font-size: 1.2rem;
  }
  /*Buttons*/
  .btn-primary, .btn-secondary {
    width: 8rem;
    font-weight: 400;
    font-size: 1rem;
  }
  /*HEADER*/
  .resources {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-right: 0;
    padding-bottom: 0.5rem;
    padding-left: 0;
    background-color: #2F4157;
  }
  .resources a {
    color: #F4EFEB;
    margin-right: 1rem;
  }
  .navigation {
    align-items: baseline;
    padding-top: 1rem;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
  .navigation-bar {
    flex-direction: row;
  }
  .nav-logo {
    height: 3.5rem;
  }
  .navigation-icons {
    display: none;
  }
  .nav {
    justify-content: center;
    margin: 0 auto;
  }
  .nav-bar {
    margin: 0 auto;
  }
  .nav-links {
    gap: 1rem;
  }
  .nav-links-page, .nav-dropdown li {
    list-style: none;
  }
  .nav-links-page {
    font-size: 1rem;
    color: #2F4157;
  }
  .nav-dropdown {
    position: absolute;
    text-align: left;
    width: 13rem;
    padding: 0;
    margin: 0px -20px;
    line-height: 50px;
    background: #F4EFEB;
    border-radius: 0.9375rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: none;
  }
  .nav-dropdown li a {
    color: #2F4157;
    width: 13rem;
    font-weight: 400;
    padding: 1rem;
  }
  .nav-dropdown li a:hover {
    color: #F4EFEB;
  }
  .nav-dropdown li:hover {
    margin: 0;
    background-color: #2F4157;
    border-radius: 0.9375rem;
    color: #F4EFEB;
    width: 13rem;
    text-align: left;
    padding-left: 0.5rem;
  }
  .nav-links-page a {
    color: #2F4157;
  }
  .nav-page {
    display: flex;
  }
  .nav-downarrowicon {
    position: relative;
    line-height: 20px;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
  }
  .nav-links-page:hover .nav-downarrowicon {
    transform: rotate(180deg);
    line-height: 20px;
  }
  .nav-links-page:hover .nav-dropdown {
    display: block;
  }
  .nav-links-page a:hover {
    color: #577C8E;
    position: relative;
  }
  /* Dropdown */
  li.dropdown {
    position: relative;
  }
  ul.dropdown-menu {
    position: absolute;
    min-width: 120px;
  }
  ul.dropdown-menu li {
    display: block !important;
    white-space: nowrap;
  }
  /* Sub Dropdown */
  ul.dropdown-menu ul.dropdown-menu {
    left: 100%;
    top: 0;
    background-color: #F4EFEB !important;
    border-radius: 0.9375rem;
  }
  /* Display none by Default */
  ul.dropdown-menu {
    display: none;
  }
  /*FOOTER*/
  .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  /*HOMEPAGE*/
  .homepage-hero {
    height: 30.6875rem;
    margin-bottom: 0;
  }
  .homepage-hero-text {
    margin-top: 12rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 2rem;
  }
  .homepage-hero-text h1 {
    width: 50%;
    margin-bottom: 0.5rem;
  }
  .homepage-hero-text p {
    display: block;
    margin-top: 0;
    width: 75%;
  }
  .homepage-hero-text .btn-primary {
    width: 12rem;
  }
  .discover {
    background-color: #F4EFEB;
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .discover-benefits {
    gap: 0;
  }
  .discover-image {
    width: 20%;
  }
  .discover .flex {
    width: 48%;
  }
  .discover .flex h2 {
    font-size: 1rem;
  }
  .discover .flex .btn-primary {
    width: 10rem;
  }
  .products-water h1 {
    font-size: 1.2rem;
  }
  .hiring {
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 4rem;
  }
  .hiring img {
    width: 45%;
  }
  .hiring .hide {
    display: block;
  }
  .hiring img {
    height: auto;
    margin-top: 1rem;
  }
  .hiring-text h1 {
    width: 100%;
  }
  .hiring-text h1, .hiring-text p {
    text-align: left;
  }
  .hiring-text .btn-secondary {
    margin-right: 17rem;
  }
  .reviews-hide {
    display: block;
  }
  .reviews-container {
    width: 90%;
    gap: 1rem;
  }
  .reviews-comment {
    width: 48%;
    height: 17rem;
  }
  /*BOOKING & SERVICES*/
  .booking-hero, .benefits-hero, .aboutus-hero, .contactus-hero {
    height: 28.75rem;
    padding-top: 12rem;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2rem;
  }
  .services {
    padding-bottom: 4rem;
  }
  .services img {
    height: 15rem;
    margin-left: 0;
  }
  .services .flex {
    width: 95%;
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .services .flex-text {
    flex-direction: column;
  }
  .services h1, .services h2, .services p {
    text-align: left;
  }
  .services h2 {
    width: 85%;
  }
  .locations ul li {
    font-weight: 500;
    font-size: 1.5rem;
  }
  .locations ul li a {
    font-weight: 400;
    font-size: 0.875rem;
  }
  .benefits-list .flex {
    width: 50%;
  }
  .benefits-list .flex h2 {
    font-size: 1rem;
  }
  .benefits-list .flex .discover-image {
    width: 40%;
  }
  /*BENEFITS*/
  .offers {
    flex-direction: row-reverse;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 95%;
  }
  .offers-img {
    width: 40%;
  }
  .offers-text {
    width: 60%;
    padding-top: 0;
    padding-right: 1rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
  }
  .type .reason {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
  }
  .type .reason-one {
    width: 40%;
  }
  .type .reason-one h1 {
    font-size: 1.2rem;
  }
  .type .reason-one-text {
    align-items: stretch;
  }
  /*ABOUT US*/
  .aboutus-hero h1, .contactus-hero h1 {
    width: 50%;
  }
  .whoweare {
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    margin-bottom: 3rem;
    margin-top: 4rem;
  }
  .whoweare-img {
    height: 23rem;
  }
  .whoweare-text {
    padding-top: 0;
    padding-right: 1rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
  }
  .whoweare-img, .whoweare-text {
    width: 48%;
  }
  .whoweare-info {
    margin-left: 2rem;
  }
  /*CONTACT US*/
  .contact {
    margin: 0 auto;
    flex-direction: row;
    width: 90%;
  }
  .contact-resources {
    width: 50%;
  }
  .contact-resources-info #infomap {
    width: 15rem;
    margin: auto;
  }
  .contact-form {
    width: 60%;
  }
  .additional-resources {
    flex-direction: row;
    width: 90%;
  }
  .additional-resources-info {
    width: 100%;
  }
  .additional-resources-info img {
    width: auto;
  }
}
@media screen and (min-width: 1920px) {
  /*GENERAL STYLES*/
  body {
    font-size: 1.5rem;
  }
  /*Typography*/
  h1 {
    font-size: 3rem;
  }
  h2, h3 {
    font-weight: 500;
    font-size: 1.5rem;
  }
  /*Buttons*/
  .btn-primary, .btn-secondary {
    font-weight: 400;
    font-size: 1.5rem;
    width: 12rem;
  }
  /*HEADER*/
  .resources {
    justify-content: flex-end;
    padding-top: 0.5rem;
    padding-right: 1.2rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
  }
  .nav {
    padding-top: 1.5rem;
  }
  .nav-links-page {
    font-size: 1.5rem;
  }
  .navigation {
    padding-top: 2rem;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
  .nav-logo {
    height: 5rem;
    margin-right: 28rem;
    margin-left: 5rem;
  }
  /*FOOTER*/
  .footer-address {
    font-size: 2rem;
  }
  .footer-address img {
    width: 7rem;
  }
  .footer-links .flex li {
    font-size: 2.2rem;
  }
  .footer-links .flex li a {
    font-size: 1.5rem;
  }
  .footer-socials a {
    font-size: 2.2rem;
  }
  .copy {
    font-size: 1rem;
  }
  /*HOMEPAGE*/
  .homepage-hero {
    height: 60.6875rem;
  }
  .homepage-hero-text {
    margin-top: 28rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3rem;
  }
  .homepage-hero h1 {
    width: 50%;
  }
  .homepage-hero .btn-primary {
    width: 15rem;
  }
  .discover-benefits {
    flex-wrap: nowrap;
    align-items: center;
    gap: 10rem;
  }
  .discover-image {
    width: 100%;
  }
  .discover .flex .btn-primary {
    width: 10rem;
  }
  .discover .flex h2 {
    font-size: 1.5rem;
  }
  .products .water {
    flex-wrap: wrap;
    gap: 0;
  }
  .products .water .flex {
    width: 25%;
  }
  .products-water {
    flex-wrap: nowrap;
    gap: 3rem;
  }
  .products-water h1 {
    font-size: 1.5rem;
  }
  .products-water-size {
    height: 17rem;
  }
  .hiring {
    gap: 3rem;
  }
  .hiring img, .hiring-text {
    width: 50%;
  }
  .hiring .btn-secondary {
    margin-right: 40rem;
  }
  .reviews {
    padding-bottom: 4rem;
  }
  .reviews h1 {
    font-size: 3rem;
  }
  .reviews-hidehide {
    display: block;
  }
  .reviews-container {
    width: 90%;
    gap: 1rem;
  }
  .reviews-comment {
    width: 30%;
    height: 25rem;
  }
  .reviews-comment-commenter h1 {
    font-size: 2rem;
  }
  .reviews-comment-commenter h2 {
    font-size: 1.5rem;
  }
  .reviews img {
    height: 5.375rem;
    margin-right: 1rem;
  }
  .reviews .fa-chevron-left, .reviews .fa-chevron-right {
    font-size: 1.2rem;
  }
  /*BOOKING & SERVICES*/
  .booking-hero, .benefits-hero, .aboutus-hero, .contactus-hero {
    height: 60.75rem;
    padding-top: 35rem;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2rem;
  }
  .booking-hero h1, .benefits-hero h1, .aboutus-hero h1, .contactus-hero h1 {
    font-size: 5rem;
  }
  .services label {
    padding-bottom: 2rem;
  }
  .services .active h1, .services .active h2 {
    margin-left: 3rem;
  }
  .services .active h1 {
    margin-bottom: 0;
  }
  .services img {
    height: auto;
    width: 50%;
    padding-top: 3rem;
  }
  .services .flex {
    gap: 4rem;
  }
  .services .flex-text {
    width: 50%;
  }
  .locations ul {
    width: 25%;
  }
  .locations ul li {
    font-size: 2rem;
  }
  .locations ul li a {
    font-size: 1.5rem;
  }
  .benefits {
    padding-top: 4rem;
  }
  .benefits-list {
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    gap: 0;
  }
  .benefits .flex h2 {
    font-size: 1.5rem;
  }
  /*BENEFITS*/
  .offers-img {
    width: auto;
    height: 38.5rem;
  }
  .offers-text {
    width: 50%;
  }
  .type .reason-one {
    width: 40%;
  }
  .type .reason-one img {
    height: 18rem;
  }
  /*ABOUT US*/
  .whoweare {
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .whoweare-img {
    height: auto;
  }
  .whoweare-text {
    padding-top: 8rem;
    padding-right: 1rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
    height: 42rem;
  }
  .whoweare-img, .whoweare-text {
    width: 48%;
  }
  .whoweare-info {
    font-size: 1.5rem;
    margin-left: 13rem;
  }
  .whoweare-info .flex a, .whoweare-info .flex p {
    font-size: 1.5rem;
  }
  .whychoose .flex {
    gap: 1rem;
  }
  .whychoose .flex img {
    width: 15%;
  }
  .whychoose .flex h1 {
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
  }
  .whychoose-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .whychoose-ben {
    width: 30%;
    height: 30rem;
  }
  /*CONTACT US*/
  .contact-resources {
    width: 40%;
  }
  .contact-resources-info #infomap {
    width: 30rem;
  }
  .contact-form {
    width: 80%;
  }
  .contact-form input {
    height: 3rem;
    width: 50rem;
  }
  .contact-form #name {
    width: 24rem;
  }
  .contact-form #additionalnotes {
    height: 15rem;
  }
  .additional-resources {
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */